:root {
    --color: #777;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
}

.intro {
    background-image: url(https://fuxion.com/static/web/dist/images/contacto/section-1.jpg);
    background-position: 50% 50%;
    width: 100%;
    height: 56vh;
}

.container {
    position: relative;
    color: var(--color);
    margin-top: 30px;
}

.globo {
    display: table;
}

.fuxionpais {
    padding-bottom: 10px;
}

.flag {
    position: relative;
    left: 400px;
    bottom: 220px;
    padding: 10px;
    cursor: pointer;
}