:root {
    --color: #fff;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    background: #2d2d34;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--color);
}

.fa-github {
    position: relative;
    top: 50px;
    font-size: 12em;
}

.fa-github:active {
    animation-name: resize;
    animation-duration: 1s;
    animation-iteration-count: linear 1;
}

.container h1 {
    position: relative;
    top: 50px;
}

@keyframes resize {
    25% { transform: scale(0.8); }
    100% { transform: scale(1.1); }
}

